*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#deck img {
    height: 150px;
    width: 105px;
    margin: 1px;
    margin-top: 200px;
    margin-bottom: 200px;
}

#player1 img {
    height: 150px;
    width: 105px;
    margin: 1px;
}

#player2 img {
    height: 150px;
    width: 105px;
    margin: 1px;
}

#play-hand {
    margin-top: 50px;
}