*, *::after, *::before {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: silver;
}

.main-container {
    width: 1000px;
    height: 650px;
    background-color: green;
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    margin: 0 auto; /* Center game container horizontally */
}


#gameDeck img {
    height: 90px;
    width: 65px;
    margin-top: calc((650px - 90px) / 2); /* center gameDeck exactly in the middle */
    margin-bottom: calc((650px - 90px) / 2); 
    margin-right: -50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}


.button {
    margin-top: 10px;
    transition-duration: 0.4s;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}
  
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#turn{
    display: inline;
    margin-left: 125px;
}

#startGame{
    margin-left: 210px;
}

#pass{
    margin-right: 460px;
}

#turn{
    color: black; 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

