*, *::after, *::before {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightgrey;
}

.main-container {
    width: 1000px;
    height: 650px;
    background-image: url('/icons/Wooden-Background.jpg');
    background-size: cover; /* Scale the image to cover the entire container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    margin: 0 auto; /* Center game container horizontally */
}


#gameDeck > div {
    position: absolute;
    top: 50%; /* Place it vertically in the middle */
    left: 50%; /* Place it horizontally in the middle */
    transform: translate(-50%, -50%); /* Center it perfectly */
}


.button {
    margin-top: 10px;
    transition-duration: 0.4s;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}
  
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#turn{
    display: inline;
    margin-left: 125px;
}

#startGame{
    margin-left: 210px;
}

#pass{
    margin-right: 460px;
}

#turn{
    color: black; 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

